@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --dark-background: #d8d8d8;
  --text-input-field: #e7e7e7;
  --hospital-green: #acd9b2;
  --green-sheen: #58ada1;
  --vsm: 1.1rem;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
}

.container{
  display: grid;
  place-items: center;
  width: 100vw;
}

.container-form {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  height: 100vh;
  max-width: 400px;
}

.title {
  font-size: var(--md);
  color: var(--black);
  margin-bottom: 1rem;
}

.subtitle {
  color: var(--dark);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

label {
  font-size: var(--sm);
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 3.5rem;
  padding: 10px 10px;
  font-size: var(--sm);
  margin-bottom: 2rem;
}

.form-button_bottom{
  align-self: flex-end;
}

.button{
  width: 100%;
  height: 6rem;
  border-radius: 8px;
  font-size: var(--md);
  cursor: pointer;
  font-weight: 600;
  max-width: 400px;
}

.primary-button {
  border: none;
  margin-bottom: 3rem;
  background-color: var(--hospital-green);
  color: var(--white);
}

.secondary-button {
  margin-bottom: 2.6rem;
  bottom: 0;
  background-color: var(--white);
  color: var(--hospital-green);
  border: 1px solid var(--hospital-green);
}

.phover:hover {
  background-color: var(--green-sheen);
  color: var(--white);
}

.shover:hover {
  background-color: var(--hospital-green);
  color: var(--white);
}

.vsm-text {
  font-size: var(--vsm);
}

.sm-text{
  font-size: var(--sm);
}

.md-text{
  font-size: var(--md);
}

.lg-text{
  font-size: var(--lg);
}

.left{
  text-align: left;
}

.center{
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--green-sheen);
}


@media screen and (min-width: 450px) {
    .container{
        display: grid;
        place-self: center;
    }
  
    .button-bottom {
      margin-bottom: 10rem;
    }
  }